@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,600;1,100&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #f1f1f1 !important;
  font-family: "Raleway", sans-serif;
}

#section {
  margin: 30px 500px 0 250px;
  background: #f1f1f1 !important;
}

.tophead h1 {
  font-size: 30px;
  font-family: Georgia, serif;
}

.boxes {
  /* border: 10px #f1f1f1; */
  padding: 10px;
  font-size: 23px;
  padding: 8px 16px;
  vertical-align: middle;
  text-decoration: none;
}

button {
  margin: 3px;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  background: white;
}

button:hover {
  background: #f1f1f1;
}

.all {
  background: #242222;
  color: #fff;
}

.all:hover {
  color: #000;
}

.bare {
  border: 2.5px solid gray;
  width: 1020px;
  margin-top: 8px;
  margin-bottom: 15px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  margin-left: 3px;
  width: 1020px;
}

.first-pic {
  background: #fff;
  width: 325px;
}

.first-pic p {
  justify-content: space-between;
}

.photo {
  width: 325px;
  height: 220px;
  cursor: pointer;
}

.text {
  padding-left: 10px;
  line-height: 25px;
}

.photo:hover {
  opacity: 0.6;
}

.digit-bar {
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  line-height: 30px;
  margin: 10px auto;
  padding: 10px;
  width: fit-content;
}

.digit-bar span {
  margin: 15px;
  padding: 10px;
}

.digit-bar i {
  font-size: 10px;
}

span:hover {
  background: #000;
  color: #fff;
}

.about {
  width: 1020px;
  margin: 10px;
}

.grid2 {
  width: 1020px;
  height: 311px;
  display: flex;
  justify-content: space-between;
}

img {
  width: 500px;
}

.percentage1 {
  color: #000 !important;
  background: #9e9e9e;
  text-align: center;
}

.percentage2 {
  width: 95%;
  color: #fff !important;
  background: #616161;
  padding: 8px 16px !important;
}

.percentage3 {
  color: #000 !important;
  background: #9e9e9e;
  text-align: center;
}

.percentage4 {
  width: 85%;
  color: #fff !important;
  background: #616161;
  padding: 8px 16px !important;
}

.percentage5 {
  color: #000 !important;
  background: #9e9e9e;
  text-align: center;
}

.percentage6 {
  width: 80%;
  color: #fff !important;
  background: #616161;
  padding: 8px 16px !important;
}

.download {
  background: #616161;
  padding: 2px;
  width: 23%;
  text-align: center;
  color: #ffff;
  cursor: pointer;
  height: 45px;
}

.download:hover {
  background: #9e9e9e;
  color: #000;
}

.how-much {
  margin: 10px;
}

.vertical {
  display: flex;
  gap: 0.6rem;
  width: 1020px;
}

.vertical1 {
  border: 1px solid #ccc;
  width: 325px;
  height: 540px;
  opacity: 0.8;
}

.vertical1:hover {
  opacity: 1;
  background: #fff;
}

.element1 {
  color: #fff;
  font-size: 30px;
  background: #000;
  width: 325px;
  height: 100px;
  border-bottom: 1px solid #ddd;
  padding: 16px 50px;
  margin-left: -40px;
  margin-top: -20px;
  text-align: center;
}

.element1pro {
  color: #fff;
  font-size: 30px;
  background: #009688;
  width: 325px;
  height: 100px;
  border-bottom: 1px solid #ddd;
  padding: 16px 50px;
  margin-left: -40px;
  margin-top: -20px;
  text-align: center;
}

.element1:hover {
  background: #000;
  color: #fff;
}

.element {
  border-bottom: 1px solid #ddd;
  height: 60px;
  padding: 16px 30px;
  margin-left: -40px;
  text-align: center;
  color: #000;
}

.element2 {
  font-size: 20px;
  width: 325px;
  height: 100px;
  border-bottom: 1px solid #ddd;
  margin-left: -40px;
  margin-top: 15px;
  text-align: center;
}

.element3 {
  font-size: 20px;
  width: 300px;
  height: 100px;
  margin-left: -40px;
  margin-top: 5px;
  text-align: center;
}

.button1 {
  margin-top: -15px;
  background: #009688;
}

.button1:hover {
  background: #000;
  color: #fff;
}

ul {
  list-style: none;
}

.contact-me {
  background: #9e9e9e;
  color: #000 !important;
  margin-top: 30px;
  width: 1020px;
  height: auto;
  padding-top: 5px;
}

h3 {
  margin: 30px 500px 0px 20px;
}

.contact-bar {
  width: 1020px;
  height: 120px;
  display: flex;
  text-align: center;
  font-size: 25px;
  color: #fff;
  padding-bottom: 10px;
  margin-left: 15px;
}

.contact-bar p {
  font-size: 20px; 
}

.contact-bar1 {
  background: #616161;
  width: 328px;
  padding-top: 15px;
}

.contact-bar2 {
  background: #009688;
  width: 328px;
  padding-top: 15px;
}

.contact-bar3 {
  background: #616161;
  width: 328px;
  padding-top: 15px;
}

.line {
  border: 1px solid #fff;
  width: 980px;
  margin-left: 15px;
  margin-top: 15px;
}

.personal-info {
  margin-left: 15px;
  line-height: 2rem;
}

.name {
  width: 980px;
  height: 35px;
  padding-bottom: 5px;
}

.send {
  background: #000;
  color: #fff;
  margin-top: 15px;
  width: 170px;
  margin-bottom: 20px;
}

.footer {
  width: 1020px;
  height: 270px;
  background: #616161;
  color: #fff !important;
  display: flex;
  gap: 0.8rem;
}

.footer img {
  width: 51px !important;
  height: 53px !important; 
}

.footer1 {
  width: 350px;
  height: auto;
  margin-left: px;
  line-height: 25px;
}

.blog-poster {
  width: 300px;
  height: 100px;
  margin-top: -10px;
  margin-left: -10px; 
}

.blanc-line {
  border: 1px solid #fff;
}

.side-text {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.populat-tag {
  margin-left: 40px;
  margin-top: 20px;
  width: 350px;
}

.travel {
  background: #000;
  color: #fff;
  padding: 4px 8px;
}

.contry {
  background: #9e9e9e;
  padding: 3px 10px;
}

.last-bare {
  text-align: center;
  background: #000;
  color: #fff;
  height: 70px;
  width: 1020px;
  padding-top: 5px;
}

.last-bare a {
  color: #fff;
}

.sidenav {
  background: white;
  width: 250px;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
}

.pic {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 10px;
  vertical-align: middle;
}

.navcontaner {
  margin-left: 10px;
}

#portfolio {
  color: #009688;
}

.iterms {
  margin-left: 10px;
  width: 100%;
}

.navcontaner p {
  margin-left: 8px;
  color: #757575 !important;
}

.portfolio {
  margin: 15px 0 0 5px;
  font-size: 22px;
}

.list {
  height: 18vh;
  line-height: 5vh;
  cursor: pointer;
  width: 100%;
}

.list .fa-solid {
  margin-right: 12px!important;
}

.list a {
  margin-right: 50px;
  gap: 80rem;
  height: 14vh;
  margin-left: 5px;
  width: 100%;
}

.list a:hover {
  background: #e9e3e3; 
}

.icons {
  display: inline;
  cursor: pointer;
}
